.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

.header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 768px) {
        height: 10vh;
    }

    img {
        display: none;

        @media (min-width: 1280px) {
            display: flex;
            justify-content: center;
            width: 10%;
            margin-left: 3%;
            min-width: 120px;
            max-width: 180px;
        }

    }
}

.show-burger-menu+.switch-button {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 1rem;
    margin-left: 4rem;
}

.switch-button {
    margin-right: 3%;
    z-index: 1000;
    font-size: var(--xl);
    font-family: var(--secondary-font);
    letter-spacing: 1px;
    color: gray;
    position: relative;
    display: none;

    @media (min-width: 768px) {
        display: block;
        max-width: 10vw;
        font-size: var(--m);
    }

    @media (min-width: 1280px) {
        font-size: var(--xl);
    }

    &.floating {

        @media (min-width: 768px) {
            position: fixed;
            top: 0;
            right: 0;
            animation-name: fade-in;
            animation-duration: 4s;
            -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
            padding: 2rem 2rem 2rem;
        }
    }

    &__checkbox {
        cursor: pointer;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    span {

        font-size: var(--m);
        color: gray;
    }

    &__label {
        transition: all .5s;
        cursor: pointer;
        color: gray;

        &.selected {
            color: white;
            text-shadow: 0 0 1rem var(--particles-primary), 0 0 1rem var(--particles-primary), 0 0 1rem var(--particles-primary), 0 0 1rem var(--particles-primary);
        }
    }
}