.modal-background.fadeout {
    animation: fade-out .3s;
}

.modal-background {
    animation: fade-in 0.3s;
    z-index: 2000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: black, $alpha: 0.8);

    .modal {
        width: 80%;

        iframe {
            width: 100%;
            height: calc(80vw * 9 / 16);
        }
    }
}