.contact{
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .container-80{
    opacity: 0;
    width: 80%;
    @media (min-width: 768px) {
      width: 50%;
    }
    &.show{

      opacity: 1;
      animation-name: fade-in-bottom;
      animation-duration: 1s;
    }
  }

  .container{
      .get-in-touch{
        padding: 2rem;
        background-color: var(--background-secondary);
        border-radius: 2rem;
        &__faster{
          margin-top: 2rem;
          color: var(--gray-smooth);
          text-align: center;
        }
        .links{
            margin-top: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3rem;
      
            .link{
              img{
                display: flex;
                justify-content: center;
                width: 35px;
                min-width: 24px;
                transition: all .3s ease;
      
                &:hover{
                  transform: scale(0.8);
                }
              }
            }
          }
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
}