.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    padding-top: 10vh;

    @media (min-width: 998px) {
        justify-content: unset;
        padding-top: 15vh;
        height: 100vh;
    }
}

.skill-list {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;


    @media (min-width: 556px) {
        width: 60%;
    }

    @media (min-width: 998px) {
        width: 80%;
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1620px) {
        width: 65%;
    }

    &.show {
        .skill {
            opacity: 1;
            animation-duration: 1s;
        }

        .skill:nth-child(1) {
            animation-name: fade-in-right;
        }

        .skill:nth-child(2) {
            animation-name: fade-in-bottom;
        }

        .skill:nth-child(3) {
            animation-name: fade-in-left;
        }
    }



    .skill {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem;
        position: relative;
        border-radius: 1rem;
        opacity: 0;
        background-color: var(--background-secondary);


        .skill-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2 {
                font-size: 2.2rem;
                text-align: right;
                padding: 2rem 0 2rem 0;
            }

            .image-skill {
                width: 10rem;
                height: 7rem;
            }
        }



        p {
            margin-top: 2rem;
        }

    }
}