:root {
    --background-secondary: #151d27;
    --background-primary: #020613;
    --particles-primary: #007aff;
    --particles-secondary: #6EB2FB;
    --gray: #373f49;
    --gray-smooth: #9a9a9a;
    --white: #FFF;
    --main-font: 'Outfit', sans-serif;
    --secondary-font: 'Roboto Mono', monospace;

    --xs: 1.2rem;
    --s: 1.4rem;
    --m: 1.8rem;
    --l: 2rem;
    --xl: 2.2rem;
    --2xl: 2.4rem;
    --3xl: 3rem;
    --4xl: 4rem;
}