.wellcome{
    display: flex;
    flex-direction: column;

    .content{
        overflow: hidden;
        width: 80%;
        gap: 4rem;
        padding-top: 5vh;
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        
        @media (min-width: 998px){
            padding-top: 0;

            grid-template-rows: none;
            grid-template-columns: 2fr 1fr;
        }
        @media (min-width: 1280px){
            grid-template-columns: 1fr 1fr;
        }
        
        .portrait{
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            height: 95%;

            @media (min-width: 998px){
                height: 60%;
            }
        }
        
        .presentation{
            margin: 0 auto;
            &.show{
                opacity: 1;
                animation-name: fade-in-bottom;
                animation-duration: 1s;
            }
            h1{
                display: inline-block;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    z-index: -1;
                    left: 0;
                    bottom: 20%;
                    width: 100%;
                    height: 15%;
                    background: linear-gradient(to right, rgba(255,0,0,0), rgba(0, 122, 255, 1));
                }
            }
            p:nth-child(1){
                font-family: var(--secondary-font);
                text-shadow: 0 0 4rem var(--particles-primary), 0 0 3rem var(--particles-primary), 0 0 2rem var(--particles-primary), 0 0 1rem var(--particles-primary);
            }
            :nth-child(4){
            }

            h2{
                color: var(--gray-smooth);
                margin-bottom: 1rem;
                font-size: var(--s);
                @media (min-width: 556px){
                    font-size: var(--xl);
                }
            }
        }
    }
    
    .scroll-icon{
        margin: 0 auto;
    }
}